@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Serif:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open-sansa, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1,
h2 {
    font-family: Roboto-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: green;
}

#logo {
    float: left;
    font-size: 260%;
    margin-left: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../images/veg1.png') no-repeat;
    height: 600px;
    background-size: 100%;
}

/* info */
#info {
    height: 600;
}

#home-content {
    padding: 20px;
    width: 100%;
    text-align: center;
    color: rgb(31, 25, 25);
}

#home-content-two {

    padding: 30px;
    width: 33%;
    float: left;
    color: rgb(31, 25, 25);

}

.box {
    width: 250px;
    padding: 25px;
    border: 25px solid;
}




#home-images {
    background: url('../images/vego-door.jpeg');

}


/* social networks */

.social networks {}

/* footer */

footer {
    height: 150px;
    margin: 0;
    padding: 0;
}

.social-networks {
    text-align: center;
    font-size: 300%;
    letter-spacing: 20px;
    padding: 20%
}

.social-networks>li {
    float: left;
    list-style-type: none;
    margin-right: 30px;

}

.social-networks li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: green;