@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Serif:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open-sansa, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1,
h2 {
    font-family: Roboto-serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: green;
}

#logo {
    float: left;
    font-size: 260%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../images/veg1.png') no-repeat;
    height: 600px;
    background-size: 100%;
}

/* info */

#home-content-two {
    text-align: center;
    float: center;
}

#home-content-images {
    background: url('../images/vego-door.jpeg') no-repeat;
    height: min-content;
    padding-bottom: 200px;
    text-align: center;

}